body {
    background: #F5F5F5;
}

@font-face {
    font-family: customFont;
    src: url(HelveticaNeueLTProMd.otf);
}

@font-face {
    font-family: customFont2;
    src: url(HelveticaNeueLTProLt.otf);
}

.logo a:link {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 550;
    text-decoration:none;
}

.logo a:visited {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 550;
    text-decoration:none;
}

.backButton {
    margin-bottom: 20px;
    padding: 6px 16px 6px 16px;
    color: #2394F4;
    background-color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: customFont;
    font-size: 22px;
}

.backButton:hover {
    margin-bottom: 20px;
    padding: 6px 16px 6px 16px;
    color: #1b7cd1;
    background-color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: customFont;
    font-size: 22px;
    cursor: pointer;
}

.container {
    position: relative; 
    left: 50%;
    transform: translateX(-53%) translateY(15%);
    border: 2px solid #C7C7C7;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 20px 0px 20px 30px;
    margin-left: 40px;
    margin-right: 40px;
    max-height: 80%;
}

.container #form td {
    text-align: left;
    font-family: customFont2;
}

.resumeButton {
    color: #2394F4;
    float: right;
    margin-right: 40px;
    font-size: 14px;
    text-decoration: none;
}

.resumeButton:hover {
    color: #1b7cd1;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}