body {
    background: #F5F5F5;
}

@font-face {
    font-family: customFont;
    src: url(NimbusSanL-Reg.otf);
}

.logo a:link {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 500;
    text-decoration:none;
}

.logo a:visited {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 500;
    text-decoration:none;
}

.backButton {
    margin-top: 20px;
    padding: 8px 16px 8px 16px;
    color: white;
    background-color: #2394F4;
    border-radius: 8px;
    border: 1px solid #2394F4;
    font-family: customFont;
    font-size: 16px;
}

.backButton:hover {
    margin-top: 20px;
    padding: 8px 16px 8px 16px;
    color: white;
    background-color: #1974c4;
    border-radius: 8px;
    border: 1px solid #1974c4;
    font-family: customFont;
    font-size: 16px;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid #C7C7C7;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 0px 30px 20px 30px;
    margin: 20px;
    width: 40%;
}

.resp {
    display: inline-block;
    white-space:pre-line;
}

.container #form td {
    text-align: left;
    font-family: customFont;
    width: 60%;
    vertical-align: middle;
}