/* body {
    background: url("bg2.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

body {
    background: #F5F5F5;
}

@font-face {
    font-family: customFont;
    src: url(NimbusSanL-Reg.otf);
}

.logo {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 500;
}

.hidden {

    position: absolute;
    top: 200px;
    left: 24px;

}

/*.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border: 2px solid #24324f;
    border-radius: 12px;
    background-color: #ffba4d;
    padding: 30px;
    box-shadow: 6px 6px black;
    margin-left: 40px;
    margin-right: 40px;
}*/

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid #C7C7C7;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 30px;
    margin:auto;
    height: 30%
}

.container #form {
    margin: 30px 20px 30px 20px ;
    vertical-align: middle;
}

.container #form td {
    text-align: right;
    font-family: customFont;
    padding-right: 10px;
    padding-top: 20px;
    max-width: 80%;
}

input[type=text] {
    width: 100%;
    font-family: customFont;
    border-radius: 12px;
    border: 1px solid #24324f;
    padding: 4px 0px 4px 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type=file] {
    max-width: auto;
    font-family: customFont;
}

.container #submitButton td {
    display: block;
    margin: auto;
}

button {
    margin-top: 20px;
    padding: 8px 16px 8px 16px;
    color: white;
    background-color: #2394F4;
    border-radius: 8px;
    border: 1px solid #2394F4;
    font-family: customFont;
    font-size: 16px;
}

button:hover {
    margin-top: 20px;
    padding: 8px 16px 8px 16px;
    color: white;
    background-color: #1974c4;
    border-radius: 8px;
    border: 1px solid #1974c4;
    font-family: customFont;
    font-size: 16px;
}