body {
    background: url("bg2.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: customFont;
    src: url(Vercetti-Regular.ttf);
}

.logo {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: white;
    font-weight: bolder;
    border: 2px solid #24324f;
    border-radius: 12px;
    background-color: #ffba4d;
    padding: 8px 14px 8px 14px;
    box-shadow: 6px 6px black;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border: 2px solid #24324f;
    border-radius: 12px;
    background-color: #ffba4d;
    padding: 30px;
    box-shadow: 6px 6px black;
    margin: 20px;
}

.container #form td {
    text-align: right;
    font-family: customFont;
    padding-right: 10px;
    padding-top: 6px;
    max-width: 80%;
    vertical-align: middle;
}

input[type=text] {
    width: 100%;
    font-family: customFont;
    border-radius: 12px;
    border: 1px solid #24324f;
}

input[type=file] {
    max-width: auto;
    font-family: customFont;
}

.container #submitButton td {
    display: block;
    margin: auto;
}

input[type=submit] {
    margin-top: 20px;
    padding: 8px 18px 8px 18px;
    color: white;
    background-color: #24324f;
    border-radius: 12px;
    border: 1px solid #24324f;
    font-family: customFont;
    font-size: 22px;
}

input[type=submit]:hover {
    margin-top: 20px;
    padding: 8px 18px 8px 18px;
    color: #24324f;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #24324f;
    font-family: customFont;
    font-size: 22px;
}