/* body {
    background: url("bg2.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

body {
    background: #F5F5F5;
}

@font-face {
    font-family: customFont;
    src: url(HelveticaNeueLTProMd.otf);
}

@font-face {
    font-family: customFont2;
    src: url(HelveticaNeueLTProLt.otf);
}

.logo a:link {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 550;
    text-decoration:none;
}

.logo a:visited {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 48px;
    font-family: customFont;
    color: black;
    font-weight: 550;
    text-decoration:none;
}

.hidden {

    position: absolute;
    top: 200px;
    left: 24px;

}

/*.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border: 2px solid #24324f;
    border-radius: 12px;
    background-color: #ffba4d;
    padding: 30px;
    box-shadow: 6px 6px black;
    margin-left: 40px;
    margin-right: 40px;
}*/

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid #C7C7C7;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 30px;
    margin:auto;
    height: 50%
}

.container #form {
    margin: 0px 20px 0px 20px ;
    vertical-align: middle;
}

.container #form td {
    text-align: right;
    vertical-align: middle;
    font-family: customFont2;
    padding: 12px 30px 12px 0px;
    max-width: 80%;
    font-weight: bold;
}

textarea {
    resize: none;
    width: 100%;
    font-family: customFont2;
    border-radius: 12px;
    border: 1px solid #24324f;
    padding: 10px 0px 0px 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type=file] {
    max-width: auto;
    font-family: customFont;
    display: block;

}

.container #submitButton td {
    display: block;
    margin: auto;
}

button {
    padding: 6px 16px 6px 16px;
    color: #2394F4;
    background-color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: customFont;
    font-size: 22px;
}

button:hover {
    margin-bottom: 20px;
    padding: 6px 16px 6px 16px;
    color: 2394F4;
    background-color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: customFont;
    font-size: 22px;
    cursor: pointer;
}